/*div*/
.container-blog
{

	height:100%;
	width:100%;
	position:absolute;
}
.container-blog .container-head
{
	z-index:3000;
	position:fixed;
	height:100%;
	width:100%;
	height:60px;
	background-color:white;
	opacity:0.95;
}
.content
{

	display:block;
	margin:100px 60px 80px 60px;
	background-color:white;
	opacity:0.85;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
/*div*/
/*other*/
.content .content-child
{
	margin:18px 18px 0 18px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.abstract
{
	text-align:left;
	color:gray;
	font-size: 0.8em;
}
.content-child a
{
	text-decoration: none;
}
.content-child a:hover
{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.content-child a:active {
	position:relative;
	top:1px;
}
/*other*/
/*h style*/
.blogH4
{
	text-align:center;
	display: block;
    font-size: 1.67em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color:black;
}
h5
{
	font-size: 0.9em;
	text-align:left;
	color:#696969;
	display:inline;
}
h3.title
{
	text-align:center;
	display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color:black;
}
/*h style*/
.blog_img
{
		width:100%;
}
.scrolltable
{
		border:'0';
		cellspacing:'0';
		cellpadding:'0';
		width:'256px';
}
